@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
input {
    font-family: "Poppins", sans-serif;
}

button {
    cursor: pointer;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100vh;
    padding: 40px;
    background-color: #252525;
}

.buttonState {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 7px 12px;
    transition: all 0.2s linear;
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins";
}

.buttonState:hover {
    border: 2px solid #4b34ce;
}

.icon {
    color: #fff;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

.stateContainer {
    display: grid;
    padding: 10px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 20px;
    width: 700px;
    height: 100%;
    border-radius: 8px;
    background-color: #ffffff;
    position: relative;
    transition: all 0.5s linear;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.stateContainer div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 15px;
    border-radius: 4px;
    transition: all 0.2s linear;
    border: none;
    width: 100%;
    font-size: 14px;
    color: #1a1a1a;
}

.stateContainer div:hover {
    border-radius: 8px;
    border: 2px solid #1a1a1a;
    font-weight: 600;
}

.stateContainer div input {
    margin-right: 10px;
}

.stateContainer div input[type="checkbox"] {
    appearance: none;
    border-radius: 4px;
    width: 15px;
    height: 15px;
    background-color: #c2c2c2;
    transition: background 0.3s linear;
}

.stateContainer div input[type="checkbox"]:checked {
    padding: 5px;
    width: 15px;
    height: 15px;
    background-color: #1a1a1a;
}

.stateContainer div input[type="checkbox"]:checked:after {
    display: block;
}
